<div class="sign_main">
    <div class="sign_title_content">
      <h1 class="emorecord_title">EMORECORD</h1>
      <p class="message">How did you feel today?</p>
      <p class="message2">良かったこと、嫌だったこと、記録しておこう</p>
      <%= image_tag "新規登録犬.png", class:"first_dog" %>
      <div class="sign_form">
        <h2 class="login_signin">新規登録</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"input-default", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, class:"input-default", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード確認" %><br />
          <%= f.password_field :password_confirmation, class:"input-default", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "登録する", class:"sub_btn" %>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>


