<div class="positive_show_main">
  <div class="positive_show_contents">
    <div id="search-result"></div>
    <h1>ポジティブ投稿一覧</h1>
    <% @positives.each do |positive| %>
    ☺️Lv:<%= positive.emotion_lv_id %>
    <%= positive.positive_context %>
    <%= positive.created_at %>
    ⭐️tag:<%= positive.tags.map(&:name).join(', ') %>
    <br>
    <% end %>
    <%= link_to 'もどる', positives_path, class: "header_link" %>
  </div>
</div>

