<div class="sign_main">
  <div class="sign_title_content">
      <h1 class="emorecord_title">EMORECORD</h1>
      <p class="message">How did you feel today?</p>
      <p class="message2">良かったこと、嫌だったこと、記録しておこう</p>
      <%= image_tag "新規登録犬.png", class:"first_dog" %>
      <div class="sign_form">
        <h2>ログイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class:"input-default", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password,"パスワード" %><br />
            <%= f.password_field :password, class:"input-default", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン", class:"sub_btn" %>
          </div>
        <% end %>

      </div>


      <%= render "devise/shared/links" %>
  </div>


</div>

