<div class='main'>
  <%= link_to 'ポジティブ', positives_path, class: "header_link" %>
  <div class="negative_main">
    <% if @negative_ratio.present? %>
      <%= pie_chart @negative_ratio, width: "500px" %>
    <% else %>
      <p>辛かったことを記録してみよう</p>
    <% end %>
    <h2>何かあった？</h2>
    <div class="form">
      <%= form_for @new_negative do |f| %>
      <%= f.collection_select(:emotion_lv_id, EmotionLv.all, :id, :level, {}, {class:"select-box", id:"negative"}) %>
      <%= f.text_area :negative_context, class:"negative_context", id:"negative_context", placeholder:"あった出来事" %>
      <%= f.text_field :tags, value: @new_negative.tags.map(&:name).join(','), placeholder: "タグをカンマで区切って入力" %>
      <%= f.submit "Record" ,class:"Record-btn" %>
      <% end %>
    </div>
  </div>
  <%= link_to 'ネガティヴ投稿一覧', "negatives/#{current_user.id}", class: "header_link" %>
</div>
<%= render "shared/footer" %>
