<h1>ネガティヴ一覧画面</h1>
<% @negatives.each do |negative| %>
<%= negative.emotion_lv_id %>
<%= negative.negative_context %>
<%= negative.created_at %>
<%= negative.user_id %>
<%= negative.tags.map(&:name).join(', ') %>
<br>
<% end %>

<%= link_to 'もどる', negatives_path, class: "header_link" %>